openapi: 3.0.3

info:
  title: Product Base Definitions
  version: 0.0.1
  description: >-
    This component represents the Open API interface of the accounting service.
  contact:
    name: JEAF Development Team
    url: 'https://www.anaptecs.de/jeaf'
    email: jeaf@anaptecs.de
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'

servers:
  - url: https://accounting.jeaf.de
  - url: http://localhost:8080/test

paths:
  # OpenAPI standard requires to define at least 1 operation. This API however seems to be a pure type definition. 
  # So we define NOP operation here as workaround.
  /nop:
    get:
      operationId: noOperation
      responses:
        '200':
          description: Nothing is the result of nop ;-)

components:
  securitySchemes:
    MyOAuthSecuritySchema:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://example.com/api/oauth/dialog'
          tokenUrl: 'https://example.com/api/oauth/dialog'
          refreshUrl: 'https://example.com/api/oauth/dialog'
          scopes: 
            read:pets: Read pets data
            write:pets: Modify pets

        implicit:
          authorizationUrl: 'https://example.com/api/oauth/dialog'
          tokenUrl: 'TODO Please add required token URL'
          refreshUrl: 'https://example.com/api/oauth/dialog'
          scopes: 
            read:pets: Read pets data
            write:pets: Modify pets

  parameters:
    # com.anaptecs.jeaf.junit.openapi.base.ParentBeanParamType.novaKey
    novaKey:
      name: novaKey
      in: header
      schema:
        type: string
      required: true

    # com.anaptecs.jeaf.junit.openapi.base.ParentBeanParamType.tkID
    tkID:
      name: tkID
      in: header
      schema:
        type: string
      required: true

  responses:
    # com.anaptecs.jeaf.junit.openapi.base.ErrorResponse
    ErrorResponse:
      description: >-
        Generic error response type that is used in all cases.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'


  schemas:
    # com.anaptecs.jeaf.junit.openapi.base.ExtensibleEnum
    ExtensibleEnum:
      type: string
      x-extensible-enum:
        - RED
        - GREEN
        - BLUE

    # com.anaptecs.jeaf.junit.openapi.base.EnumTest
    EnumTest:
      type: object
      additionalProperties: false
      required:
        - property
        - enumRef
      properties:
        property:
          $ref: '#/components/schemas/ExtensibleEnum'
        enumRef:
          $ref: '#/components/schemas/ExtensibleEnum'

    # com.anaptecs.jeaf.junit.openapi.base.BooleanCodeType
    BooleanCodeType:
      type: boolean
      nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.StringCodeType
    StringCodeType:
      type: string
      nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.ByteCodeType
    ByteCodeType:
      type: integer
      format: int32
      nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.ShortCodeType
    ShortCodeType:
      type: integer
      format: int32
      nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.IntegerCodeType
    IntegerCodeType:
      type: integer
      format: int32
      nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.LongCodeType
    LongCodeType:
      type: integer
      format: int64
      nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.FloatCodeType
    FloatCodeType:
      type: number
      format: float
      nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.DoubleCodeType
    DoubleCodeType:
      type: number
      format: double
      nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.BankAccount
    BankAccount:
      type: object
      additionalProperties: false
      required:
        - iban
      properties:
        iban:
          type: string
          pattern: '[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}'
          nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.BidirectA
    BidirectA:
      type: object
      additionalProperties: false
      required:
        - parent
      properties:
        parent:
          $ref: '#/components/schemas/BidirectA'

    # com.anaptecs.jeaf.junit.openapi.base.BidirectB
    BidirectB:
      type: object
      additionalProperties: false
      required:
        - a
      properties:
        a:
          $ref: '#/components/schemas/BidirectA'

    # com.anaptecs.jeaf.junit.openapi.base.Booking
    Booking:
      type: object
      additionalProperties: false
      required:
        - bookingID
      properties:
        bookingID:
          type: string
          nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.BooleanLiteralsEnum
    BooleanLiteralsEnum:
      type: string
      enum:
        - 'YES'
        - 'ON'
        - 'off'
        - 'y'
        - 'n'
        - YEAH
        - 'NO'
        - 'True'
        - 'FaLsE'
      default: 'YES'

    # com.anaptecs.jeaf.junit.openapi.base.CHStopPlace
    CHStopPlace:
      allOf:
        - $ref: '#/components/schemas/StopPlaceRef'
        - type: object
          additionalProperties: false

    # com.anaptecs.jeaf.junit.openapi.base.Campaign
    Campaign:
      type: object
      additionalProperties: false
      properties:
        discountOffers:
          type: array
          items:
            $ref: '#/components/schemas/DiscountOffer'

    # com.anaptecs.jeaf.junit.openapi.base.Channel
    Channel:
      type: object
      additionalProperties: false
      required:
        - channelType
        - channelCode
        - code
        - selfServiceChannel
      properties:
        channelType:
          $ref: '#/components/schemas/ChannelType'
        channelCode:
          type: string
          default: 'WEBSHOP'
          example: MOBILE_APP
          nullable: false
        code:
          type: integer
          format: int32
          nullable: false
          readOnly: true
        selfServiceChannel:
          type: boolean
          nullable: false
          readOnly: true
          default: true

    # com.anaptecs.jeaf.junit.openapi.base.ChannelType
    ChannelType:
      description: >-
        Valid Values:
        - COUNTER
        - CALL_CENTER
        - MOBILE
        - TVM
        - WEB
        - @Deprecated LEGACY_POS
      type: string
      enum:
        - COUNTER
        - CALL_CENTER
        - MOBILE
        - TVM
        - WEB
        - LEGACY_POS
      default: MOBILE

    # com.anaptecs.jeaf.junit.openapi.base.ChildA
    ChildA:
      description: >-
        single line class comment
      allOf:
        - $ref: '#/components/schemas/ParentClass'
        - type: object
          additionalProperties: false
          required:
            - childAAttribute
          properties:
            childAAttribute:
              type: integer
              format: int32
              nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.ChildAA
    ChildAA:
      deprecated: true
      allOf:
        - $ref: '#/components/schemas/ChildA'
        - type: object
          additionalProperties: false
          required:
            - childAAAttribute
            - sizedArray
            - requiredArray
          properties:
            childAAAttribute:
              description: >-
                Multi
                line
                docs
              type: integer
              format: int32
              nullable: false
            sizedArray:
              type: integer
              format: int32
              minLength: 10
              maxLength: 100
              nullable: false
            requiredArray:
              type: array
              items:
                type: string
              minItems: 1
              nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.ChildB
    ChildB:
      description: >-
        Multi
        line
        class
        comment
      allOf:
        - $ref: '#/components/schemas/ParentClass'
        - type: object
          additionalProperties: false
          required:
            - childBAttribute
          properties:
            childBAttribute:
              description: >-
                A child attribute
              type: boolean
              minLength: 11
              maxLength: 42
              nullable: false
            composition:
              description: >-
                the composition
              type: array
              items:
                $ref: '#/components/schemas/ParentClass'

    # com.anaptecs.jeaf.junit.openapi.base.ChildBB
    ChildBB:
      allOf:
        - $ref: '#/components/schemas/ChildB'
        - type: object
          additionalProperties: false
          required:
            - childBBAttribute
            - deprecatedAttribute
          properties:
            childBBAttribute:
              type: integer
              format: int64
              nullable: false
            deprecatedAttribute:
              type: integer
              format: int32
              deprecated: true
              nullable: false
            deprecatedBs:
              # Attribute "deprecatedBs" is marked as deprecated. However OpenAPI does not support to mark references to complex types as deprecated.
              type: array
              items:
                $ref: '#/components/schemas/ChildB'
            deprecatedParent:
              # Attribute "deprecatedParent" is marked as deprecated. However OpenAPI does not support to mark references to complex types as deprecated.
              $ref: '#/components/schemas/ParentClass'
            deprecatedArray:
              type: string
              format: byte
              maxLength: 4711

    # com.anaptecs.jeaf.junit.openapi.base.CodeTypeUsageTest
    CodeTypeUsageTest:
      type: object
      additionalProperties: false
      required:
        - booleanCode
        - shortCodeTypeAssociation
        - stringCode
      properties:
        booleanCode:
          $ref: '#/components/schemas/BooleanCodeType'
        booleanCodeAssociation:
          type: array
          items:
            $ref: '#/components/schemas/BooleanCodeType'
        shortCodeTypeAssociation:
          type: array
          items:
            $ref: '#/components/schemas/ShortCodeType'
          minItems: 1
        stringCode:
          $ref: '#/components/schemas/StringCodeType'

    # com.anaptecs.jeaf.junit.openapi.base.Company
    Company:
      allOf:
        - $ref: '#/components/schemas/Partner'
        - type: object
          additionalProperties: false
          required:
            - name
          properties:
            name:
              type: string
              nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.ComplexBookingType
    ComplexBookingType:
      type: string
      x-extensible-enum:
        - COMPLEX
        - VERY_COMPLEX

    # com.anaptecs.jeaf.junit.openapi.base.DateObject
    DateObject:
      type: object
      additionalProperties: false
      required:
        - localTime
        - localDate
        - localDateTime
        - calendar
        - sqlDate
        - utilDate
      properties:
        localTime:
          type: string
          format: time
          nullable: false
          example: 12:07
        localDate:
          type: string
          format: date
          nullable: false
        localDateTime:
          type: string
          format: date-time
          nullable: false
        calendar:
          type: string
          format: date-time
          nullable: false
        sqlDate:
          type: string
          format: date
          nullable: false
        utilDate:
          type: string
          format: date-time
          nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.DeprecatedEnum
    DeprecatedEnum:
      type: string
      deprecated: true
      enum:
        - ONE
        - TWO
        - THREE

    # com.anaptecs.jeaf.junit.openapi.base.DirectedEdge
    DirectedEdge:
      type: object
      additionalProperties: false
      required:
        - end
        - previousName
      properties:
        start:
          $ref: '#/components/schemas/Stop'
        end:
          $ref: '#/components/schemas/Stop'
        previousName:
          type: string
          nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.DiscountOffer
    DiscountOffer:
      type: object
      additionalProperties: false
      properties:
        campaigns:
          type: array
          items:
            $ref: '#/components/schemas/Campaign'

    # com.anaptecs.jeaf.junit.openapi.base.Duration
    Duration:
      type: object
      additionalProperties: false
      description: >-
        Type represents a duration.
         
        NOVA 14 Mapping
        * nova-base.xsd.Dauer
      required:
        - value
        - timeUnit
      properties:
        value:
          type: integer
          format: int32
          nullable: false
        timeUnit:
          $ref: '#/components/schemas/TimeUnit'

    # com.anaptecs.jeaf.junit.openapi.base.GeoPosition
    GeoPosition:
      allOf:
        - $ref: '#/components/schemas/PlaceRef'
        - type: object
          additionalProperties: false
          required:
            - longitude
            - latitude
          properties:
            longitude:
              type: integer
              format: int32
              nullable: false
            latitude:
              type: integer
              format: int32
              nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.InventoryType
    InventoryType:
      type: string
      enum:
        - SBB
        - SNCF
        - DB

    # com.anaptecs.jeaf.junit.openapi.base.Leg
    Leg:
      type: object
      additionalProperties: false
      required:
        - start
        - stop
      properties:
        start:
          $ref: '#/components/schemas/PlaceRef'
        stop:
          $ref: '#/components/schemas/PlaceRef'
        stopovers:
          type: array
          items:
            $ref: '#/components/schemas/PlaceRef'

    # com.anaptecs.jeaf.junit.openapi.base.LinkObject
    LinkObject:
      type: object
      additionalProperties: false
      required:
        - href
      properties:
        href:
          type: string
          nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.MoneyAmount
    MoneyAmount:
      type: object
      additionalProperties: false
      description: >-
        Type represents an amount of money.
               
        NOVA 14 Mapping
        * nova-base.xsd.GeldBetrag
      required:
        - amount
        - currencyCode
      properties:
        amount:
          description: >-
            The amount of money. Attribute is always set.
          type: number
          format: double
          nullable: false
          readOnly: true
        currencyCode:
          description: >-
            ISO 4217 currency code.
          type: string
          default: 'CHF'
          minLength: 3
          maxLength: 3
          example: CHF
          nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.OpenAPITestObject
    OpenAPITestObject:
      type: object
      additionalProperties: false
      required:
        - readOnlyAttribute
        - readWriteAttribute
        - writeOnlyAttribute
        - nullableAttribute
        - notNullableAttribute
        - readOnlyArray
        - readWriteArray
        - writeOnlyArray
        - nullableArray
        - notNullableArray
      properties:
        readOnlyAttribute:
          type: string
          readOnly: true
        readWriteAttribute:
          type: string
        writeOnlyAttribute:
          type: integer
          format: int32
          writeOnly: true
        nullableAttribute:
          type: boolean
        notNullableAttribute:
          type: number
          format: double
          nullable: false
        readOnlyArray:
          type: string
          readOnly: true
        readWriteArray:
          type: string
        writeOnlyArray:
          type: integer
          format: int32
          writeOnly: true
        nullableArray:
          type: number
          format: double
        notNullableArray:
          type: number
          format: double
          nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.POI
    POI:
      allOf:
        - $ref: '#/components/schemas/Stop'
        - type: object
          additionalProperties: false
          required:
            - description
          properties:
            description:
              type: string
              nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.ParentClass
    ParentClass:
      type: object
      additionalProperties: false
      discriminator:
        propertyName: objectType
      required:
        - objectType
        - parentAttribute
      properties:
        objectType:
          description: Attribute is used as discriminator for inheritance between data types.
          type: string
        parentAttribute:
          type: string
          nullable: false
        ibans:
          type: array
          items:
            type: string
            pattern: '^DE\d{2}\s?([0-9a-zA-Z]{4}\s?){4}[0-9a-zA-Z]{2}$'
          nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.Partner
    Partner:
      type: object
      additionalProperties: false
      discriminator:
        propertyName: objectType
      required:
        - objectType
      properties:
        objectType:
          description: Attribute is used as discriminator for inheritance between data types.
          type: string
        postalAddresses:
          type: array
          items:
            $ref: '#/components/schemas/PostalAddress'

    # com.anaptecs.jeaf.junit.openapi.base.PartnerContainer
    PartnerContainer:
      type: object
      additionalProperties: false
      properties:
        partners:
          type: array
          items:
            $ref: '#/components/schemas/Partner'

    # com.anaptecs.jeaf.junit.openapi.base.Person
    Person:
      allOf:
        - $ref: '#/components/schemas/Partner'
        - type: object
          additionalProperties: false
          required:
            - surname
            - firstName
          properties:
            surname:
              type: string
              nullable: false
            firstName:
              type: string
              nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.PlaceRef
    PlaceRef:
      type: object
      additionalProperties: false
      discriminator:
        propertyName: objectType
      required:
        - objectType
        - name
      properties:
        objectType:
          description: Attribute is used as discriminator for inheritance between data types.
          type: string
        name:
          type: string
          nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.PostalAddress
    PostalAddress:
      type: object
      additionalProperties: false
      required:
        - street
        - houseNumber
        - city
        - postalCode
      properties:
        street:
          type: string
          nullable: false
        houseNumber:
          type: string
          nullable: false
        city:
          type: string
          nullable: false
        postalCode:
          type: integer
          format: int32
          nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.PrimitiveArraysObject
    PrimitiveArraysObject:
      type: object
      additionalProperties: false
      required:
        - cStringArray
      properties:
        aBooleanArray:
          type: array
          items:
            type: boolean
        bBooleanArray:
          type: array
          items:
            type: boolean
        cBooleanArray:
          type: array
          items:
            type: boolean
        aByteArray:
          type: string
          format: byte
        bByteArray:
          type: string
          format: byte
        aShortArray:
          type: array
          items:
            type: integer
            format: int32
        bShortArray:
          type: array
          items:
            type: integer
            format: int32
        aIntegerArray:
          type: array
          items:
            type: integer
            format: int32
        bIntegerArray:
          type: array
          items:
            type: integer
            format: int32
        cIntegerArray:
          type: array
          items:
            type: integer
            format: int32
        aLongArray:
          type: array
          items:
            type: integer
            format: int64
        bLongArray:
          type: array
          items:
            type: integer
            format: int64
        aBigIntegerArray:
          type: array
          items:
            type: integer
            format: int64
        aCharacterArray:
          type: array
          items:
            type: string
        bCharacterArray:
          type: array
          items:
            type: string
        aFloatArray:
          type: array
          items:
            type: number
            format: float
        bFloatArray:
          type: array
          items:
            type: number
            format: float
        aDoubleArray:
          type: array
          items:
            type: number
            format: double
        bDoubleArray:
          type: array
          items:
            type: number
            format: double
        aBigDecimalArray:
          type: array
          items:
            type: number
            format: double
        aStringArray:
          type: array
          items:
            type: string
        bStringArray:
          type: array
          items:
            type: string
        cStringArray:
          type: array
          items:
            type: string
          minItems: 1
          nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.PrimitiveArraysObjectWithRestrictions
    PrimitiveArraysObjectWithRestrictions:
      type: object
      additionalProperties: false
      required:
        - aLongArray
      properties:
        aBooleanArray:
          type: array
          items:
            type: boolean
        bBooleanArray:
          type: array
          items:
            type: boolean
        cBooleanArray:
          type: array
          items:
            type: boolean
        aByteArray:
          type: string
          format: byte
        bByteArray:
          type: string
          format: byte
        aShortArray:
          type: array
          items:
            type: integer
            format: int32
        bShortArray:
          type: array
          items:
            type: integer
            format: int32
        aIntegerArray:
          type: array
          items:
            type: integer
            format: int32
        bIntegerArray:
          type: array
          items:
            type: integer
            format: int32
        cIntegerArray:
          type: array
          items:
            type: integer
            format: int32
        aLongArray:
          type: array
          items:
            type: integer
            format: int64
          minItems: 1
        bLongArray:
          type: array
          items:
            type: integer
            format: int64
        aBigIntegerArray:
          type: array
          items:
            type: integer
            format: int64
        aCharacterArray:
          type: array
          items:
            type: string
        bCharacterArray:
          type: array
          items:
            type: string
        aFloatArray:
          type: array
          items:
            type: number
            format: float
        bFloatArray:
          type: array
          items:
            type: number
            format: float
        aDoubleArray:
          type: array
          items:
            type: number
            format: double
          minItems: 4
          maxItems: 12
        bDoubleArray:
          type: array
          items:
            type: number
            format: double
        aBigDecimalArray:
          type: array
          items:
            type: number
            format: double
        aStringArray:
          type: array
          items:
            type: string
        bStringArray:
          type: array
          items:
            type: string

    # com.anaptecs.jeaf.junit.openapi.base.PrimitiveObject
    PrimitiveObject:
      type: object
      additionalProperties: false
      required:
        - aBoolean
        - bBoolean
        - cBoolean
        - aByte
        - bByte
        - aShort
        - bShort
        - aInteger
        - bInteger
        - cInteger
        - aLong
        - bLong
        - aBigInteger
        - aCharacter
        - bCharacter
        - aFloat
        - bFloat
        - aDouble
        - bDouble
        - aBigDecimal
        - aString
        - bString
      properties:
        aBoolean:
          type: boolean
          nullable: false
        bBoolean:
          type: boolean
          nullable: false
        cBoolean:
          type: boolean
          nullable: false
        aByte:
          type: integer
          format: int32
          nullable: false
        bByte:
          type: integer
          format: int32
          nullable: false
        aShort:
          type: integer
          format: int32
          nullable: false
        bShort:
          type: integer
          format: int32
          nullable: false
        aInteger:
          type: integer
          format: int32
          nullable: false
        bInteger:
          type: integer
          format: int32
          nullable: false
        cInteger:
          type: integer
          format: int32
          nullable: false
        aLong:
          type: integer
          format: int64
          nullable: false
        bLong:
          type: integer
          format: int64
          nullable: false
        aBigInteger:
          type: integer
          format: int64
          nullable: false
        aCharacter:
          type: string
          nullable: false
        bCharacter:
          type: string
          nullable: false
        aFloat:
          type: number
          format: float
          nullable: false
        bFloat:
          type: number
          format: float
          nullable: false
        aDouble:
          type: number
          format: double
          nullable: false
        bDouble:
          type: number
          format: double
          nullable: false
        aBigDecimal:
          type: number
          format: double
          nullable: false
        aString:
          type: string
          nullable: false
        bString:
          type: string
          nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.PrimitiveObjectWithRestrictions
    PrimitiveObjectWithRestrictions:
      type: object
      additionalProperties: false
      required:
        - aBoolean
        - bBoolean
        - cBoolean
        - aByte
        - bByte
        - aShort
        - bShort
        - aInteger
        - bInteger
        - cInteger
        - aLong
        - bLong
        - aBigInteger
        - aCharacter
        - bCharacter
        - aFloat
        - bFloat
        - aDouble
        - bDouble
        - aBigDecimal
        - aString
        - bString
      properties:
        aBoolean:
          type: boolean
          nullable: false
          default: true
        bBoolean:
          type: boolean
          nullable: false
        cBoolean:
          type: boolean
          nullable: false
        aByte:
          type: integer
          format: int32
          maximum: 0
          exclusiveMaximum: true
          nullable: false
        bByte:
          type: integer
          format: int32
          maximum: 0
          nullable: false
        aShort:
          type: integer
          format: int32
          minimum: -237
          nullable: false
        bShort:
          type: integer
          format: int32
          minimum: 0
          exclusiveMinimum: true
          nullable: false
        aInteger:
          type: integer
          format: int32
          minimum: 0
          nullable: false
        bInteger:
          type: integer
          format: int32
          minimum: 4711
          nullable: false
        cInteger:
          type: integer
          format: int32
          minimum: 100
          maximum: 1000
          nullable: false
        aLong:
          type: integer
          format: int64
          nullable: false
        bLong:
          type: integer
          format: int64
          maximum: 299792458
          exclusiveMaximum: false
          nullable: false
        aBigInteger:
          type: integer
          format: int64
          maximum: 3.14159265359
          exclusiveMaximum: true
          minimum: -3.14159265359
          exclusiveMinimum: true
          nullable: false
        aCharacter:
          type: string
          nullable: false
        bCharacter:
          type: string
          nullable: false
        aFloat:
          type: number
          format: float
          nullable: false
        bFloat:
          type: number
          format: float
          nullable: false
        aDouble:
          type: number
          format: double
          nullable: false
          default: 42.0
        bDouble:
          type: number
          format: double
          nullable: false
        aBigDecimal:
          type: number
          format: double
          minimum: 4711.0815
          exclusiveMinimum: true
          nullable: false
        aString:
          type: string
          minLength: 8
          maxLength: 32
          nullable: false
          default: 'Hello OpenAPI'
        bString:
          type: string
          minLength: 1
          maxLength: 128
          nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.Problem
    Problem:
      type: object
      additionalProperties: false
      required:
        - title
        - status
        - type
        - detail
        - instance
      properties:
        title:
          type: string
          nullable: false
          readOnly: true
        status:
          type: integer
          format: int32
          nullable: false
          readOnly: true
        type:
          type: string
          nullable: false
          readOnly: true
        detail:
          type: string
          nullable: false
          readOnly: true
        instance:
          type: string
          nullable: false
          readOnly: true

    # com.anaptecs.jeaf.junit.openapi.base.Product
    Product:
      type: object
      additionalProperties: false
      description: >-
        Data type represents a product definition
      required:
        - name
        - link
        - productID
        - supportedCurrencies
        - productCodes
        - description
        - uri
      properties:
        resellers:
          type: array
          items:
            $ref: '#/components/schemas/Reseller'
        name:
          type: string
          minLength: 12
          nullable: false
        image:
          description: >-
            Image describing the product.
          type: string
          format: byte
        link:
          type: string
          nullable: false
          example: https://www.company.com/products/1345-345
        productID:
          type: string
          nullable: false
          readOnly: true
        supportedCurrencies:
          description: >-
            ISO 4217 currency code.
          type: array
          items:
            type: string
            default: 'CHF'
            minLength: 3
            maxLength: 3
            example: CHF
          minItems: 7
          maxItems: 42
          nullable: false
        productCodes:
          type: array
          items:
            $ref: '#/components/schemas/ProductCode'
          minItems: 1
        description:
          type: string
          deprecated: true
          nullable: false
        uri:
          type: string
          format: uri
          nullable: false
          default: 'https://products.anaptecs.de/123456789'

    # com.anaptecs.jeaf.junit.openapi.base.ProductCode
    ProductCode:
      type: integer
      format: int32
      minimum: 0
      exclusiveMinimum: true
      nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.Reseller
    Reseller:
      type: object
      additionalProperties: false
      required:
        - channels
        - name
        - language
      properties:
        channels:
          type: array
          items:
            $ref: '#/components/schemas/Channel'
          minItems: 1
        name:
          type: string
          minLength: 1
          maxLength: 32
          nullable: false
        language:
          type: string
          nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.Sortiment
    Sortiment:
      type: object
      additionalProperties: false
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'

    # com.anaptecs.jeaf.junit.openapi.base.Stop
    Stop:
      type: object
      additionalProperties: false
      discriminator:
        propertyName: objectType
      required:
        - objectType
        - name
      properties:
        objectType:
          description: Attribute is used as discriminator for inheritance between data types.
          type: string
        name:
          type: string
          nullable: false
        _links:
          type: array
          items:
            $ref: '#/components/schemas/LinkObject'

    # com.anaptecs.jeaf.junit.openapi.base.StopPlaceRef
    StopPlaceRef:
      allOf:
        - $ref: '#/components/schemas/PlaceRef'
        - type: object
          additionalProperties: false

    # com.anaptecs.jeaf.junit.openapi.base.SwissGeoPosition
    SwissGeoPosition:
      allOf:
        - $ref: '#/components/schemas/GeoPosition'
        - type: object
          additionalProperties: false

    # com.anaptecs.jeaf.junit.openapi.base.TimeUnit
    TimeUnit:
      description: >-
        Enumeration represents time units.
             
        NOVA 14 Mapping
        * nova-base.xsd.ZeitEinheit
        Valid Values:
        - MINUTE: Literal represents time unit "minutes".
        - HOUR
        - DAY
        - WEEK: Literal represents time unit "weeks".
            This is the comments second line ;-)
        - MONTH
        - YEAR
      type: string
      enum:
        - MINUTE
        - HOUR
        - DAY
        - WEEK
        - MONTH
        - YEAR

    # com.anaptecs.jeaf.junit.openapi.base.TopoRef
    TopoRef:
      allOf:
        - $ref: '#/components/schemas/PlaceRef'
        - type: object
          additionalProperties: false

    # com.anaptecs.jeaf.junit.openapi.base.UICStop
    UICStop:
      allOf:
        - $ref: '#/components/schemas/Stop'
        - type: object
          additionalProperties: false
          required:
            - uicCode
          properties:
            uicCode:
              type: string
              nullable: false

    # com.anaptecs.jeaf.junit.openapi.base.UICStopPlace
    UICStopPlace:
      allOf:
        - $ref: '#/components/schemas/StopPlaceRef'
        - type: object
          additionalProperties: false

    # com.anaptecs.jeaf.junit.openapi.base.WeirdBooking
    WeirdBooking:
      type: object
      additionalProperties: false
      required:
        - booking
      properties:
        booking:
          type: string
          nullable: false
        additionalBookings:
          type: array
          items:
            type: string
          nullable: false

