openapi: 3.0.0

info:
  title: Product Services
  version: 1.6.32-SNAPSHOT
  description: >-
    This component represents the OpenAPI interface of the accounting service.
    
    Dear Developers, please be aware that multi line comments can also be used.
  termsOfService: https://www.anaptecs.de/jeaf/TermsOfUse
  contact:
    name: JEAF Development Team
    url: 'https://www.anaptecs.de/jeaf'
    email: jeaf@anaptecs.de
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'

servers:
  - url: https://accounting.jeaf.de
  - url: http://localhost:8080/test
  - url: https://demo-jeaf.anaptecs.de
  - url: https://test-jeaf.anaptecs.de
  - url: https://jeaf.anaptecs.de
    description: >-
      This is our lovely production environment
      
      It can stand any load, until it crashes ;-)

tags:
  - name: Products
    description: >-
      Tag groups all product related operations together.
      url: https//jeaf.anaptecs.de/link1
  - name: MasterData
    description: >-
      Tag marks all operations that are connected with Master Data.
  - name: Another Tag
  - name: B Tag

paths:
  # ProductService
  /products:
    get:
      tags:
        - MasterData
        - Products
      description: >-
        Operation returns all available product.
      operationId: getProducts
      externalDocs:
        url: https://jeaf.anaptecs.de/link2
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                type: array
                items:
                  $ref: '../base/product-base.yml#/components/schemas/Product'
                minItems: 0
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
    post:
      tags:
        - Products
      operationId: createProduct
      requestBody:
        description: >-
          TODO Please add comment
        required: true
        content:
          application/json:
            schema:
              $ref: '../base/product-base.yml#/components/schemas/Product'
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                type: boolean
                example: 'true'
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
    head:
      operationId: ping
      responses:
        '200':
          description: Operation does not return any content.
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
  /products/{id}:
    get:
      tags:
        - MasterData
        - Products
      operationId: getProduct
      parameters:
        - name: id
          in: path
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: string
            example: '1234-345'
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                $ref: '../base/product-base.yml#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
  /products/sortiment/{id}:
    get:
      tags:
        - MasterData
        - Products
      operationId: getSortiment
      parameters:
        - name: token
          in: header
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: string
        - name: lang
          in: header
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: string
            example: 'en'
        - name: reseller
          in: cookie
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: integer
            format: int64
        - name: id
          in: path
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: integer
            format: int64
        - name: q1
          in: query
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                $ref: '../base/product-base.yml#/components/schemas/Sortiment'
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
  /products/ChannelCode:
    post:
      operationId: createChannelCode
      requestBody:
        description: >-
          TODO Please add comment
        required: true
        content:
          application/json:
            schema:
              type: string
              example: 'MOBILE_APP'
          application/xml:
            schema:
              type: string
              example: 'MOBILE_APP'
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                type: string
                default: "WEBSHOP"
                example: 'MOBILE_APP'
                nullable: false
            application/xml:
              schema:
                type: string
                default: "WEBSHOP"
                example: 'MOBILE_APP'
                nullable: false
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
  /products/deprecated/operation:
    get:
      operationId: deprecatedOperation
      deprecated: true
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
  /products/deprecated/context:
    post:
      operationId: deprecatedContext
      parameters:
        - name: token
          in: header
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: string
        - name: lang
          in: header
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: string
            example: 'en'
        - name: reseller
          in: cookie
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: integer
            format: int64
        - name: q1
          in: query
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
  /products/deprecated/beanParams:
    post:
      operationId: deprecatedBeanParam
      parameters:
        - name: token
          in: header
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: string
        - name: lang
          in: header
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: string
        - name: q2
          in: query
          description: >-
            TODO Please add comment
          required: true
          deprecated: true
          schema:
            type: string
      responses:
        '200':
          description: Operation does not return any content.
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
  /products/deprecated/params:
    post:
      operationId: deprecatedParams
      parameters:
        - name: param1
          in: header
          description: >-
            TODO Please add comment
          required: true
          deprecated: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                type: string
                deprecated: true
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
  /products/deprecated/body:
    post:
      operationId: deprecatedBody
      requestBody:
        description: >-
          TODO Please add comment
        required: true
        content:
          application/json:
            schema:
              type: string
              deprecated: true
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
  /products/deprecated/complexBody:
    post:
      description: >-
        Please be aware that deprecations on complex bodies are not supported. Instead the whole operation needs to be set to deprecated.
      operationId: deprectedComplexRequestBody
      requestBody:
        description: >-
          TODO Please add comment
          Operation has deprected body parameter. Please be aware that deprecations on complex bodies are not supported. Instead the whole operation needs to be set to deprecated.
        required: true
        content:
          application/json:
            schema:
              $ref: '../base/product-base.yml#/components/schemas/Product'
      responses:
        '200':
          description: Operation does not return any content.
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
  /products/deprecated/complexReturn:
    get:
      operationId: deprecatedComplexReturn
      responses:
        '200':
          description: >- 
            TODO Please add comment
            Operation has deprected return type. Please be aware that deprecations on complex return types are not supported. Instead the whole operation needs to be set to deprecated.
          content:  
            application/json:
              schema:
                $ref: '../base/product-base.yml#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
  /products/specific/{id}:
    patch:
      operationId: loadSpecificThings
      parameters:
        - name: specificHeader
          in: header
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: string
        - name: token
          in: header
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: string
        - name: lang
          in: header
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: string
            example: 'en'
        - name: reseller
          in: cookie
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: integer
            format: int64
        - name: id
          in: path
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: integer
            format: int64
        - name: q1
          in: query
          description: >-
            TODO Please add comment
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Operation does not return any content.
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
  /products/ChannelCodeObject:
    post:
      operationId: createChannelCodeFromObject
      requestBody:
        description: >-
          Channel Code that should be created.
        required: true
        content:
          application/json:
            schema:
                type: string
                default: "WEBSHOP"
                example: 'MOBILE_APP'
                nullable: false
      responses:
        '200':
          description: >- 
            Created channel code
          content:  
            application/json:
              schema:
                type: string
                default: "WEBSHOP"
                example: 'MOBILE_APP'
                nullable: false
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
  /products/currencies:
    post:
      tags:
        - B Tag
      operationId: addCurrencies
      requestBody:
        description: >-
          TODO Please add comment
        required: true
        content:
          application/json:
            schema:
                description: >-
                  ISO 4217 currency code.
                type: array
                items:
                  type: string
                  minLength: 3
                  maxLength: 3
                  example: 'CHF'
                minItems: 1
                example: '["CHF", "EUR", "USD"]'
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                description: >-
                  ISO 4217 currency code.
                type: array
                items:
                  type: string
                  minLength: 3
                  maxLength: 3
                  example: 'CHF'
                minItems: 1
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
  /products/currencies/valid:
    post:
      tags:
        - Another Tag
      operationId: isCurrencySupported
      requestBody:
        description: >-
          TODO Please add comment
        required: true
        content:
          application/json:
            schema:
                description: >-
                  ISO 4217 currency code.
                type: string
                default: "CHF"
                minLength: 3
                maxLength: 3
                example: 'CHF'
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                description: >-
                  ISO 4217 currency code.
                type: string
                default: "CHF"
                minLength: 3
                maxLength: 3
                example: 'CHF'
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'
  /products/codeTypeUsages:
    post:
      operationId: testCodeTypeUsage
      requestBody:
        description: >-
          TODO Please add comment
        required: true
        content:
          application/json:
            schema:
              $ref: '../base/product-base.yml#/components/schemas/StringCodeType'
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                $ref: '../base/product-base.yml#/components/schemas/IntegerCodeType'
        '400':
          $ref: '#/components/responses/CustomErrorResponse'
        'default':
          $ref: '#/components/responses/CustomErrorResponse'


security:
  - {}
  - MyOAuthSecuritySchema: [read:pets,write:pets]  
  
components:
  securitySchemes:
    MyOAuthSecuritySchema:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://example.com/api/oauth/dialog'
          tokenUrl: 'https://example.com/api/oauth/dialog'
          refreshUrl: 'https://example.com/api/oauth/dialog'
          scopes: 
            read:pets: Read pets data
            write:pets: Modify pets
            
        implicit:
          authorizationUrl: 'https://example.com/api/oauth/dialog'
          tokenUrl: 'TODO Please add required token URL'
          refreshUrl: 'https://example.com/api/oauth/dialog'
          scopes: 
            read:pets: Read pets data
            write:pets: Modify pets
            

  responses:
    # com.anaptecs.jeaf.junit.openapi.service1.CustomErrorResponse
    CustomErrorResponse:
      description: TODO Please add comment to error response type
      content:
        text/plain:
          schema:
            $ref: '../base/product-base.yml#/components/schemas/Problem'


  schemas:
    # com.anaptecs.jeaf.junit.openapi.service1.Sale
    Sale:
      type: object
      additionalProperties: false
      required:
        - transactionAmount
      properties:
        transactionAmount:
          type: number
          format: double
        sale:
          $ref: '../base/product-base.yml#/components/schemas/Channel'

      
      
