openapi: 3.0.0

servers:
  - description: Accounting PROD
    url: https://accounting.jeaf.de
  - description: Accounting TEST
    url: http://localhost:8080/test

info:
  title: Product Services
  version: 0.0.1
  description: |
    This component represents the Open API interface of the accounting service.
  contact:
    name: JEAF Development Team
    url: 'https://www.anaptecs.de/jeaf'
    email: jeaf@anaptecs.de
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'

paths:
  # ProductRESTService
  /products:
    get:
      description: >-
        Operation returns all available product.
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
                minItems: 0
          
    post:
      requestBody:
        description: >- 
          TODO Please add comment
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                type: boolean
          
    head:
      responses:
        '200':
          description: Operation does not return any content.
          
  /products/{id}:
    get:
      parameters:
        - name: id
          in: path
          description: >- 
            TODO Please add comment
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
          
  /products/sortiment:
    get:
      parameters:
        - name: accessToken
          in: header
          description: >- 
            TODO Please add comment
          required: true
          schema:
            type: string
        - name: language
          in: header
          description: >- 
            TODO Please add comment
          required: false
          schema:
            type: string
        - name: resellerID
          in: cookie
          description: >- 
            TODO Please add comment
          required: true
          schema:
            type: integer
            format: int64
        - name: pathParam
          in: path
          description: >- 
            TODO Please add comment
          required: true
          schema:
            type: integer
            format: int64
        - name: queryParam
          in: query
          description: >- 
            TODO Please add comment
          required: false
          schema:
            type: string
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                $ref: '#/components/schemas/Sortiment'
          
  /products/ChannelCode:
    post:
      requestBody:
        description: >- 
          TODO Please add comment
        required: true
        content:
          application/json:
            schema:
              type: string
          application/xml:
            schema:
              type: string
      responses:
        '200':
          description: >- 
            TODO Please add comment
          content:  
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelCode'
          


