<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.openarchitectureware.debug.WFLaunchConfigType">
<booleanAttribute key="java_debug" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jeaf-generator-oaw"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-pmodel.file=./xmi/JEAF_Test.uml2&#13;&#10;-pprofile.file=./xmi/JMM.profile.uml2&#13;&#10;-ppath.src.gen=./src-gen&#13;&#10;-ppath.src=./src&#13;&#10;-ppath.res.gen=./res-gen&#13;&#10;-ppath.res=./res&#13;&#10;-ptemplate.root=Root::Root&#13;&#10;-ppath.code.style=../Core/config/anaptecs-convention.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jeaf-generator-oaw"/>
<booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms128m&#13;&#10;-Xmx512m&#13;&#10;-Djeaf.properties=jeaf_generator&#13;&#10;-Dinfo.version=&quot;1.3.0.2&quot;&#13;&#10;-Dinfo.company=&quot;anaptecs GmbH, Burgstr. 96, 72764 Reutlingen, Germany&quot;&#13;&#10;-Dinfo.copyright=&quot;Copyright 2004 - 2013. All rights reserved.&quot;&#13;&#10;-Dinfo.author=&quot;JEAF Generator&quot;&#13;&#10;-Dlist.pkgs.whitelist=&quot;com.anaptecs.jeaf.accounting; com.anaptecs.jeaf.junit&quot;&#13;&#10;-Dswitch.gen.public.parts=true&#13;&#10;-Dswitch.gen.global.parts=true&#13;&#10;-Dswitch.gen.internal.parts=true&#13;&#10;-Dswitch.gen.services=true&#13;&#10;-Dswitch.gen.service.objects=true&#13;&#10;-Dswitch.gen.gwt.proxies=true&#13;&#10;-Dswitch.gen.junits=true&#13;&#10;-Dswitch.gen.public.setters.for.associations=true&#13;&#10;-Dname.oid.row=&#13;&#10;-Dname.version.label.row="/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${env_var:PROJECTS_HOME}\Projects\JEAF-Framework\trunk\CoreBasicsTests\"/>
<stringAttribute key="startWorkflow" value="/JEAF Generator/res/workflow.oaw"/>
</launchConfiguration>
